.infoBox {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 15vw;
  min-height: 15vh;
  flex: 1;
  border: 5px #f5f6fa solid;
  cursor: pointer;
}

.box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.4rem;
}
hr {
  width: 100%;
  border: 3px #f5f6fa solid;
}
p {
  font-size: 12px;
}
.Cases {
  color: red;
}

.Recovered {
  color: green;
}

.dark {
  background-color: #222;
  color: white;
  border: 5px #424242 solid;
}
.dark hr {
  border: 3px #424242 solid;
}
.selected {
  background-color: rgba(144, 238, 144, 0.4);
}
.dark .selected {
  background-color: rgba(144, 238, 144, 0.4);
}
.dark .selected .Recovered {
  color: white;
}
