.table {
  margin-top: 20px;
  overflow: scroll;
  overflow-x: hidden;
  height: 400px;
  color: #6a5d5d;
  width: 100%;
  background-color: white;
}
table,
tbody {
  width: 100%;
}
.table tr {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.table td {
  padding: 0.5rem;
}
table:nth-last-of-type(odd) {
  background-color: #f3f2f8;
}
